<div class="container">
<%= link_to "Back", cocktails_path %>
<%= link_to 'Add a dose', new_cocktail_dose_path(@cocktail) %>

<br>
<h1>Cocktails</h1>
<p>Name: <%= @cocktail.name %></p>

<% if @cocktail.photo.present? %>
  <%= cl_image_tag @cocktail.photo.key, width: 400, crop: :fill %>
<% else %>
  <%= image_tag 'placeholder.png', width: 400 %>
<% end %>

<ul class="list-group">
  <% @cocktail.doses.each do |dose| %>
    <li class="list-group-item"> Dose: <%= dose.description %></li>
    <li class="list-group-item"> Ingredient: <%= dose.ingredient.name %></li>
    <%= link_to 'Delete a dose', cocktail_dose_path(dose), method: :delete %>
  <% end %>
</ul>
</div>
